$sidefont_color: #ffffff;

.side {
  background-color: #253141;
  color: $sidefont_color;
  font-weight: bold;
  height: 100vh;
  width: 300px;
  
  .user {
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    &__block {
      line-height: 20px;
      width: 100%;
      height: 20px;
      display: flex;
      justify-content: space-between;
      &_name {
        font-size: 16px;
        }
      &_menu {
        width: 60px;
        display: flex;
        justify-content: flex-end;
        &__btn {
          margin-left: 5px;
          text-decoration: none;
          color: $sidefont_color;
        }
      }
    }
  }

  .group {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 20px;
    &__list {
      width: 100%;
      margin-bottom: 40px;
      .name {
        color: $sidefont_color;
        font-size: 15px;
        margin-bottom: 5px;
        
      }
      .message {
        color: $sidefont_color;
        font-size: 11px;
      }
    }
  }
}